body{
	background-color:#545454;
}
.videO{
	display: table;
	margin: 0 auto;
	padding: 25px 0px 50px 0px;
}
.nameS{
	display: table;
	margin: 0 auto;
	padding-bottom:25px;
	padding-top:25px;
}
.imagE{
	display: inline-block;
	padding: 2px 5px 0px 5px;
}

#bottomCenter{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#lefT{
	float:left;
	width:50%;
	height:auto;
	position:relative;
}
#righT{
	float:right;
	width:50%;
	height:auto;
	position:relative;
}
#bottoM{
	height:60px;
	width:100%;
	background-color:black;
	border-radius:8px;
	position:fixed;
	left:0px;
	right:0px;
	bottom:-8px;
}
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding: 2px 5px 0px 5px;
}

.popup .popuptext {	
	visibility: hidden;
	width: 590px;
	height:325px;	
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	border-radius: 8px;
	padding: 8px 0;
	position: absolute;
	bottom: 53px;
	font-size:200%;
        left: 0%;
	vertical-align:middle;
}

.popup .show {
    visibility: visible;
}
